{% extends "index.html" %} 

{% block content %}
    <div class="table">
        <br>        
        <br>   
        
        <h2 class="text-xl center-text bold-text">Air Quality Data in NYC</h2>
     
        <table class="table-auto center-text mx-auto my-8">
            <thead>
                <tr>
                    <th class="px-4 py-2">Unique ID</th>
                    <th class="px-4 py-2">Indicator ID </th>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Measure</th>
                    <th class="px-4 py-2">Measure Info</th>
                    <th class="px-4 py-2">Geo Type Name</th>
                    <th class="px-4 py-2">Geo Join ID</th>
                    <th class="px-4 py-2">Geo Place Name</th>
                    <th class="px-4 py-2">Time Period</th>
                    <th class="px-4 py-2">Start Date</th>
                    <th class="px-4 py-2">Data Value</th>
                </tr>
            </thead>
            <tbody>
                {% for value in data %}
                <tr>
                    <td class="border px-4 py-2">{{ value[0] }}</td>
                    <td class="border px-4 py-2">{{ value[1] }}</td>
                    <td class="border px-4 py-2">{{ value[2] }}</td>
                    <td class="border px-4 py-2">{{ value[3] }}</td>
                    <td class="border px-4 py-2">{{ value[4] }}</td>
                    <td class="border px-4 py-2">{{ value[5] }}</td>
                    <td class="border px-4 py-2">{{ value[6] }}</td>
                    <td class="border px-4 py-2">{{ value[7] }}</td>
                    <td class="border px-4 py-2">{{ value[8] }}</td>
                    <td class="border px-4 py-2">{{ value[9] }}</td>
                    <td class="border px-4 py-2">{{ value[10] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
