<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="bg-gray-200">

    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-2xl">NYC Air Quality</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:underline">Home</a></li>
                <li><a href="/air" class="hover:underline">Data</a></li>
                <li><a href="/sql" class="hover:underline">Data Dictionary</a></li>
                <li><a href="/login" class="hover:underline">Log In</a></li>
            </ul>
        </nav>
    </header>

    <main class="p-4">
        {% block content %}
        <h1 class= "center-text mx-auto my-8 bold-text text-xl">Welcome!</h1>        
        <p>This product displays data on the air quality in NYC from 2005 to 2021. The data is taken from Data.gov and contains information such as indicator/pollutant name, 
            <br>
            their unit of measurement, geographical location it was measured at, and the date the data applies to. A sample of 50 records from the cleaned dataset are displayed for easier viewing. 
        </p>
        <p class="bold-text">
            <br>
            Link to dataset: https://catalog.data.gov/dataset/air-quality
        </p>
        <br>
        <br>
        <h3 class= "bold-text center-text">
            Refer to the links in the menu above to view the data, data dictionary, or login to add changes to the dataset.
        <h3>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h3 class="bold-text text-l">
            References:
        </h3>
        <p>
            Data.gov. (2023, November 3). <i>Air quality.</i> https://catalog.data.gov/dataset/air-quality
            <br>
            NYC Open Data. (2023, November 2). <i>Air quality.</i> https://data.cityofnewyork.us/Environment/Air-Quality/c3uy-2p5r
        </p>
        <br>
        <br>
        <br>
       {% endblock %}
    </main>

    <footer class="bg-blue-600 text-white p-4 mt-6">
        <p>© 2023 Susan's Flask App. All Rights Reserved.</p>
    </footer>
</body>

</html>